DATABASE_URL=postgresql://user:password@localhost:5432/database_name

REDIS_URL=redis://localhost:6379

SECRET_KEY=secret_key_for_jwt
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=1440
ALGORITHM=HS256

OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL_ID_1=your_openai_model_1
OPENAI_MODEL_ID_2=your_openai_model_2
OPENAI_MODEL_ID_3=your_openai_model_3
OPENAI_MODEL_ID_4=your_openai_model_4

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=your_default_from_email

APP_NAME="InterviewPrep API"
APP_VERSION=1.0.0
DEBUG=True

FRONTEND_URL=[http://localhost:3000,http://localhost:5173]

PORT=8000
HOST=0.0.0.0

# Stockage local des images
UPLOAD_DIR=images/
UPLOAD_BASE_URL=http://localhost:8000/images/
