# PostgreSQL
POSTGRES_USER=votre_nom_utilisateur
POSTGRES_PASSWORD=votre_mot_de_passe
POSTGRES_DB=votre_nom_de_base_de_donnees
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
SECRET_KEY=votre_cle_secrete_pour_jwt
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=1440
ALGORITHM=HS256

# OpenAI
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL_ID_1=gemini-2.5-flash
OPENAI_MODEL_ID_2=gemini-2.5-pro
OPENAI_MODEL_ID_3=gemini-2.0-flash
OPENAI_MODEL_ID_4=gemini-2.0-flash-001
OPENAI_MODEL_ID_5=gemini-2.0-flash-lite-001
OPENAI_MODEL_ID_6=gemini-2.0-flash-lite
OPENAI_MODEL_ID_7=gemini-2.5-flash-preview-tts
OPENAI_MODEL_ID_8=gemini-2.5-pro-preview-tts
OPENAI_MODEL_ID_9=gemma-4-26b-a4b-it
OPENAI_MODEL_ID_10=gemma-4-31b-it
OPENAI_MODEL_ID_11=gemini-flash-latest
OPENAI_MODEL_ID_12=gemini-2.5-flash-lite

# Email SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=noreply@interviewprep.com

# Application
APP_NAME=InterviewPrep API
APP_VERSION=1.0.0
DEBUG=True

# Frontend URLs (CORS)
FRONTEND_URL=http://localhost:3000,http://localhost:5173

# Serveur
HOST=0.0.0.0
PORT=9000

# Uploads
UPLOAD_DIR=/app/media
UPLOAD_BASE_URL=http://localhost:9000/media
